body {
  background-image: url('http://www.vanessametonini.com.br/imersaocss/a1/img/fundo.jpg');
  background-repeat: norepeat;
  background-size: cover;
  font-family: Arial;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.menu {
  background-color: #fff;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.site-title, .site-subtitle {
  text-align: center;
  color: whitesmoke;
}

.site-subtitle {
  font-style: italic;
}